input{
    border-radius: 20px;
    background: #FDE5E6;
    border: none;
    font-weight: 200;
    padding: 0.5rem 0;
    width: 100%;
    box-shadow: 15px 20px 8.4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.inputContainer{
    width: 30%;
}

.inputContainer > h4{
    margin-bottom: 10px;
    color: #E1515A;
}

.btnChange{
    width: 30%;
    padding: 0.5rem;
    box-shadow: 3px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.updateNotification{
    border-radius: 20px;
    padding: 0.5rem;
    color: white;
    width: 60%;
    text-align: center;
}

.updateSuccess{
    background-color: rgba(163, 236, 166, 0.75);
}

.updateFailed{
    background-color: #ce777d;
}